includes:
    - .Build/vendor/saschaegerer/phpstan-typo3/extension.neon

parameters:
    level: max
    paths:
        - Classes
        - Tests
        - ext_localconf.php
    scanFiles:
        - Tests/Stubs/Typo3.stub
    bootstrapFiles:
        - Tests/Stubs/PowermailBootstrap.php
    tmpDir: .Build/phpstan-cache
